.Wrapper2{
	margin: 0 auto;
	width: 235px;
	height: 525px;
	border:2px solid;
	border-color: #a9aaaa;
	padding: 2px;
	border-radius: 5px;

}
.btn-Why2{
	width: 225px;
	height: 30px;
	border-radius: 5px;
	border:3px solid #616261; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:11px;font-style: arial; padding: 3px 40px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 	background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
 	background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
 	background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
 	background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
 	background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
 	background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}
.btn-Why2:hover{
 border:3px solid #4a4b4a;
 background-color: #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
 background-image: -webkit-linear-gradient(top, #646464, #282828);
 background-image: -moz-linear-gradient(top, #646464, #282828);
 background-image: -ms-linear-gradient(top, #646464, #282828);
 background-image: -o-linear-gradient(top, #646464, #282828);
 background-image: linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
 }
 .cognizant_Text2{
 	padding-bottom: 10px;
 	margin-left: 10px;
 	font-size: 11px;
 	color:#020202;
 }
 .why_Button2 hr{
 	width: 215px;
 	margin: 5px;
 	border-color: #a9aaaa;
 }
 .offer_Tab2{
 float: left;
 width: 230px;
 height: 75px;
}
/* .icons_List{
 	float:left;
 	list-style-type: none;
 	margin-top:2 0px; 
 }*/
 .compIcon2{
 	margin-left: 5px;
 	float: left;
 }
 .mobIcon2{
 	margin-left: 12px;
 	float: left;
 }
.cognizant_Text2 hr{
	width: 212px;
	margin-left:-3px;
	margin-top: 40px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #a9aaaa;
}
.offer_Text2{
	padding-top: 2px;
	font-size: 10px;
	margin-left: 10px;
}
.phoneIcon2{
	margin-left: -7px;
	float: left;
}
.icon_Name2{
	float: left;
	list-style-type: none;
	margin: 5px;
}
.computer2{
	width: 50px;
	min-height: 50px;
	margin-left: 5px;
	font-size: 10px;
	float: left;
}
.computer2 p{
	margin: 0 23px 10px 10px;
}
.mobile2{
	width: 50px;
	min-height: 50px;
	margin-left: 11px;
	font-size: 10px;
	float: left;
	margin-top: -1px;
}
.mobile2 p{
	margin: 0 23px 10px 10px;
}
.Sub_Tab2{
	width: 230px;
	min-height: 100px;
	display:inline-block;
}
.phone2{
	float: left;
	width: 50px;
	min-height: 50px;
	margin-left: 11px;
	font-size: 10px;

}
.competencies_List2 p {
    margin: -6px -4px 3px;
}
.apps_List2{
	list-style-type: none;
}
.icon1_2{
	width: 30px;
	height: 30px;
	margin-left: -34px;
}
.html-css2 li{
	padding-top: 2px;
}
.icon2_2{
	width: 30px;
	height: 30px;
	margin-left: -34px;
}
.icon3_2{
	width: 30px;
	height: 30px;
	margin-left: -34px;
}
.icon4_2{
	width: 30px;
	height: 30px;
	margin-left: -34px;
}
.icon5_2{
	width: 30px;
	height: 30px;
	margin-left: -34px;
}
.html-css2{
	padding-bottom: 5px;
}
.mob-apps2{
	padding-bottom: 11px;
}
.flash_flex2{
	padding-bottom:11px;
}
.ria2{
	padding-bottom: 11px;
}
.uid2{
	padding-bottom:11px;
}
.competencies_List2 hr{
	width: 215px;
 	margin: 5px;
 	border-color: #a9aaaa;
}
.html-css2 p{
	padding: -3px;
	font-size: 10px;
}
.compTitle2{
	padding: 10px;
}
.mob-apps2 p{
	padding: 1px;
	font-size: 10px;
}